
.leftContainer-provider{
    padding-left: 0;
    margin-top: 10px;
}
.left-container{
    margin-top: 10px;

}

.contentcontainer{
    margin-top: 10px;
    margin-left: 16px;
}

.container-free-search{
    margin-top: 80px;
}

.right-container{
    margin-top: 10px; 
}



.bottom-section-payment{
    margin-left: 0px;
    padding-left: 0px;
    margin-top: -10px;
}

.panel-body{
    padding: 0px;
}

.btn{
    margin-left: 35px;
}


